@import 'hunker'

.padding-x
  padding-x 10px

.padding-x-2
  padding-x 20px 10px

.padding-y
  padding-y 20px

.padding-y-2
  padding-y 10px 20px

.margin-x
  margin-x 10px

.margin-x-2
  margin-x 20px 10px

.margin-y
  margin-y 10px

.margin-y-2
  margin-y 20px 10px
